name: build

on: [push]

jobs:
  build:
    runs-on: ubuntu-lateset

    steps:
      - uses: actions/checkout@v2
      # For jblas, see https://github.com/mikiobraun/jblas/wiki/Missing-Libraries
      - name: Install jblas
        run: sudo apt-get install -y libgfortran5
      - name: Set up JDK 11 
        uses: actions/setup-java@v2
        with:
          java-version: '11'
          distribution: 'adopt'
      - name: Build with Maven
        run: mvn -B package --file pom.xml
